.ranking_carousel {
  border: 2px solid var(--font-color);
  border-radius: 20px;
  display: flex;
  align-items: center;

  .menu {
    padding-left: 2%;
    width: 20%;
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  .carousel {
    margin-top: 2%;
    height: 200px;
    width: 75%;
    img {
      display: inline-block;
      width: 80px;
      // transition: all 0.1s ease-in-out;
    }

    .slider {
      .content {
        width: 10%;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .center_side {
        img {
          width: 100px;
        }
      }

      .center {
        img {
          width: 120px;
        }
      }
    }

    p {
      margin: 0;
    }

    .post_buttom {
      display: flex;
      justify-content: space-around;
    }
  }
}
