.mainpage h1 {
  font-size: 2rem;
  display: inline-block;
  border-bottom: 1px solid var(--font-color);
  padding-bottom: 10px;
}
.mainpage .fpage {
  width: 100%;
  height: calc(100vh - 80px);
}
.mainpage .fpage .content {
  float: left;
  margin-top: 15%;
  margin-left: 5%;
  flex-direction: column;
  justify-content: center;
}
.mainpage .fpage .content h1 {
  font-size: 4rem;
}
.mainpage .fpage .content p {
  font-size: 1rem;
  line-height: 1;
}
.mainpage .fpage .content .button_hover {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: 0.25s;
}
.mainpage .fpage .content .button_hover:nth-child(n):hover {
  color: gray;
}
.mainpage .fpage .content .button_hover .button_arrow {
  position: absolute;
  top: 35px;
  left: 75%;
  transform: rotate(45deg);
}
.mainpage .fpage .code_background {
  height: 90%;
  margin-left: 30%;
  width: 70%;
  background-size: cover;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0.8) 99%), linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0.8) 99%), url("/assets/img/main/background_dark.png");
}
.mainpage .cpage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainpage .cpage .gptcode {
  margin: auto;
  display: flex;
  justify-content: center;
}
.mainpage .cpage .gptcode .gptdesc {
  width: 55%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.mainpage .cpage .move_stick {
  width: 100%;
  height: 30%;
}
.mainpage .cpage .move_stick .block {
  position: relative;
  display: block;
  height: auto;
}
.mainpage .cpage .move_stick .block .row {
  position: relative;
  height: 50px;
}
.mainpage .cpage .move_stick .block .green {
  background-color: green;
}
.mainpage .cpage .move_stick .block .white {
  background-color: white;
}
.mainpage .cpage .move_stick .block .black {
  background-color: black;
}
.mainpage .cpage .move_stick .block .col {
  width: 100px;
  height: 20px;
  margin: 2px;
  display: inline-block;
}
.mainpage .cpage .code_image {
  width: 40%;
  display: inline-block;
}
.mainpage .lpage {
  width: 100%;
  height: auto;
  text-align: center;
}
.mainpage .lpage .contentbox {
  display: flex;
  justify-content: center;
  width: 100%;
}
.mainpage .lpage .contentbox .gptbox {
  width: 30%;
  min-width: 280px;
  margin: 2%;
  padding: 2%;
  border-radius: 5%;
}
.mainpage .lpage .contentbox .gptbox img {
  aspect-ratio: 7/6;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .mainpage h1 {
    font-size: 2rem;
    display: inline-block;
    border-bottom: 1px solid var(--font-color);
    padding-bottom: 10px;
  }
  .mainpage .fpage {
    width: 100%;
    height: calc(100vh - 80px);
  }
  .mainpage .fpage .content {
    float: left;
    margin-top: 15%;
    margin-left: 5%;
    flex-direction: column;
    justify-content: center;
  }
  .mainpage .fpage .content h1 {
    font-size: 4rem;
  }
  .mainpage .fpage .content p {
    font-size: 1rem;
    line-height: 1;
  }
  .mainpage .fpage .content .button_hover {
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: 0.25s;
  }
  .mainpage .fpage .content .button_hover:nth-child(n):hover {
    color: gray;
  }
  .mainpage .fpage .content .button_hover .button_arrow {
    position: absolute;
    left: 75%;
    transform: rotate(45deg);
  }
  .mainpage .fpage .code_background {
    height: 90%;
    margin-left: 30%;
    width: 70%;
    background-size: cover;
  }
  .mainpage .cpage .gptcode .gptdesc h1 {
    font-size: 1.2rem;
  }
  .mainpage .cpage .gptcode .gptdesc p {
    font-size: 0.65rem;
  }
  .mainpage .cpage .code_image {
    width: 40%;
  }
  .mainpage .lpage .contentbox .gptbox {
    width: 50%;
    min-width: 0px;
    font-size: 0.6rem;
    margin-bottom: 20px;
  }
  .mainpage .lpage .contentbox .gptbox h1 {
    font-size: 1.3rem;
    margin-bottom: 0px;
  }
}/*# sourceMappingURL=Main.module.css.map */