.mainpage {
  h1 {
    font-size: 2rem;
    display: inline-block;
    border-bottom: 1px solid var(--font-color);
    padding-bottom: 10px;
  }

  .fpage {
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;

    .content {
      float: left;
      position: relative;
      margin-top: 15%;
      margin-left: 5%;
      flex-direction: column;
      justify-content: center;
      z-index: 1;
      h1 {
        font-size: 4rem;
      }

      p {
        font-size: 1rem;
        line-height: 1;
      }

      .button_hover {
        position: relative;
        display: inline-block;
        cursor: pointer;
        transition: 0.25s;

        &:nth-child(n):hover {
          color: gray;
        }

        .button_arrow {
          position: absolute;
          top: 35px;
          left: 75%;
          transform: rotate(45deg);
        }
      }
    }

    .code_background {
      height: 90%;
      margin-left: 30%;
      width: 70%;
      position: relative;
      background-position: center;
    }
  }

  .cpage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .gptcode {
      margin: auto;
      display: flex;
      justify-content: center;
      .gptdesc {
        width: 55%;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    .move_stick {
      width: 100%;
      overflow: hidden;
      .block {
        display: block;
        width: 100%;
        .row {
          height: 40px;
          display: block;
        }

        .green {
          background-color: green;
        }

        .white {
          background-color: white;
        }

        .black {
          background-color: black;
        }

        .col {
          width: 10%;
          height: 20px;
          margin: 2px;
          display: inline-block;
        }
      }
    }

    .code_image {
      width: 40%;
      display: inline-block;
    }
  }

  .lpage {
    width: 100%;
    height: auto;
    // height: calc(100vh - 180px);
    text-align: center;

    .contentbox {
      display: flex;
      justify-content: center;
      width: 100%;

      .gptbox {
        width: 30%;
        min-width: 280px;
        margin: 2%;
        padding: 2%;
        border-radius: 5%;
        img {
          aspect-ratio: 7/6;
          display: block;
          width: 80%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mainpage {
    h1 {
      font-size: 2rem;
      display: inline-block;
      border-bottom: 1px solid var(--font-color);
      padding-bottom: 10px;
    }

    .fpage {
      width: 100%;
      height: calc(100vh - 80px);

      // background-color: white;

      .content {
        float: left;
        margin-top: 15%;
        margin-left: 5%;
        flex-direction: column;
        justify-content: center;
        h1 {
          font-size: 4rem;
        }

        p {
          font-size: 1rem;
          //width: 60%;
          line-height: 1;
        }

        .button_hover {
          position: relative;
          display: inline-block;
          cursor: pointer;
          transition: 0.25s;

          &:nth-child(n):hover {
            color: gray;
          }

          .button_arrow {
            position: absolute;
            left: 75%;
            transform: rotate(45deg);
          }
        }
      }

      .code_background {
        height: 90%;
        margin-left: 30%;
        width: 70%;
        background-size: cover;
      }
    }

    .cpage {
      .gptcode {
        .gptdesc {
          h1 {
            font-size: 1.2rem;
          }
          p {
            font-size: 0.6rem;
          }
        }
      }
      .code_image {
        width: 48%;
      }
      .move_stick {
        height: 30%;
        .block {
          display: block;
          height: 100%;
          .row {
            height: 35px;
          }

          .green {
            background-color: green;
          }

          .white {
            background-color: white;
          }

          .black {
            background-color: transparent;
          }

          .col {
            width: 30%;
            height: 20px;
            margin-bottom: 5px;
          }
        }
      }
    }

    .lpage {
      .contentbox {
        .gptbox {
          width: 50%;
          min-width: 0px;
          font-size: 0.6rem;
          margin-bottom: 20px;

          h1 {
            font-size: 1.3rem;
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}
