.box {
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 20px;
}
.box .backgroundImage {
  height: 300px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.box .backgroundImage img {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.box .backgroundImage .defaultBack {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 80%;
  height: 300px;
  width: 100%;
  cursor: pointer;
  position: relative;
}
.box .backgroundImage .defaultBack .hoverContainer {
  display: none;
}
.box .backgroundImage .defaultBackImage {
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 85%;
  height: 300px;
  width: 100%;
  cursor: pointer;
  position: relative;
}
.box .backgroundImage .defaultBackImage .hoverContainer {
  position: relative;
  top: 20%;
  right: 38%;
}
.box .backgroundImage .defaultBackImage .hoverContainer .hoverBack {
  height: 80px;
  width: 300px;
  background-color: skyblue;
  position: absolute;
  top: 28%;
  right: 1%;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  padding-top: 30px;
}
.box .backgroundImage .defaultBackImage .hoverContainer .triangle {
  position: absolute;
  right: 2%;
  top: 56px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid skyblue;
  transform: rotate(30deg);
}
.box .backgroundImage .defaultBack:hover .hoverContainer {
  display: block;
  position: relative;
  top: 20%;
  right: 38%;
}
.box .backgroundImage .defaultBack:hover .hoverContainer .hoverBack {
  height: 80px;
  width: 300px;
  background-color: skyblue;
  position: absolute;
  top: 28%;
  right: 1%;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  padding-top: 30px;
}
.box .backgroundImage .defaultBack:hover .hoverContainer .triangle {
  position: absolute;
  right: 2%;
  top: 56px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid skyblue;
  transform: rotate(30deg);
}
.box .profileAll {
  position: absolute;
  top: 240px;
  left: 10%;
}
.box .profileAll .profilecontainer .profileimage {
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  box-shadow: 3px 3px 3px 3px black;
  position: relative;
}
.box .profileAll .profilecontainer .profileimage .profileTier {
  position: absolute;
  width: 40px;
  height: auto;
  top: 85%;
  left: calc(50% - 20px);
}
.box .profileAll .profilecontainer .profileinfo {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.box .profileAll .profilecontainer .profileinfo .gitinfo {
  margin-top: 15px;
  width: 100%;
}
.box .profileAll .profilecontainer .profileinfo .gitinfo p {
  text-align: center;
  font-size: 1.5rem;
}
.box .grid {
  margin-top: 180px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .box {
    width: 100%;
    overflow-x: auto;
  }
  .box .backgroundImage .defaultBack {
    background-position: 80%;
  }
  .box .backgroundImage .defaultBack:hover .hoverContainer {
    display: none;
  }
  .box .backgroundImage .defaultBackImage {
    background-position: 80%;
  }
  .box .backgroundImage .defaultBackImage .hoverContainer {
    display: none;
  }
}/*# sourceMappingURL=Profile.module.css.map */