.footer {
  height: 270px;
  width: 100%;
  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;
  background-color: #d4d4d4;
  color: black;
  display: flex;

  .leftbox {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 3%;

    .circle {
      margin-top: 25%;
      background-color: white;
      height: 60px;
      width: 60px;
      border-radius: 100%;
      box-shadow: 3px 3px 3px 3px black;
    }
  }
  .rightbox {
    width: 80%;
    height: 100%;
    padding-top: 4%;
    p {
      color: black;
      width: 100%;
    }
  }
}
