.box {
    margin: 5% auto;
    border: 1px solid;
    border-color: var(--mypage-font-color);
    width: 80%;
    height: auto;
    padding: 4%;    
    .recentTitle {
      font-size: 1.5rem;
      color: var(--mypage-font-color);
      font-weight: 600;
    }

  }

  
@media screen and (max-width: 768px) {
  .box {
    width: 100%;
    height: auto;
    .whichBoard{
      overflow-x: scroll;
      .text{
        min-width: 70px;
      }
      .comment{
        min-width: 60px;
      }
      .recommend{
        min-width: 60px;
      }
      .alarm{
        min-width: 100px;
      }
    }
  }
}

