.box {
    margin: 5% auto;
    border: 1px solid;
    border-color: var(--mypage-font-color);
    width: 80%;
    height: auto;
    padding: 4%;    
    .recentTitle {
      font-size: 1.5rem;
      color: var(--mypage-font-color);
      font-weight: 600;
      margin-bottom: 5%;
    }
    .whichBoard{
        color: var(--mypage-font-color);
        border-bottom: 1.5px solid var(--mypage-font-color);
        padding-bottom:10px;
        display: flex;
        justify-content: flex-start;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 2%;
        position: relative;

        div{
            margin-right: 7%;
            font-size: 1rem;
            cursor: pointer;
            .icon{
              margin-left: 4px;
              font-size: 1rem;
            }
        }
        .bar {
          position: absolute;                                            
          bottom: 0;
          height: 4px;
          border-radius: 10px;
          background-color:white;
          opacity: 1;
          transition: transform 0.3s ease-in-out;
        }
    }
  }

  
@media screen and (max-width: 768px) {
  .box {
    width: 100%;
    height: auto;
    .whichBoard{
      overflow-x: scroll;
      .text{
        min-width: 70px;
      }
      .comment{
        min-width: 60px;
      }
      .recommend{
        min-width: 60px;
      }
      .alarm{
        min-width: 100px;
      }
    }
  }
}

