.whichBoard{
    color: var(--mypage-font-color);
    border-bottom: 1.5px solid var(--mypage-font-color);
    padding-bottom:10px;
    display: flex;
    justify-content: flex-start;
    margin: 3% 1% 0% 1%;
    .menu{
        display: inline-block;
        white-space: nowrap;
        div{
            font-size: 1rem;
            cursor: pointer;
            .icon{
              margin-left: 4px;
              font-size: 1rem;
            }    
        }
    }
    .menumargin{
        margin-right:7%;
    }
}
@media screen and (max-width: 768px) {
    .whichBoard{
        margin: 4% 1% 0% 1%;
        overflow-x: scroll;
        div{
            .text{
                min-width: 70px;
              }
              .comment{
                min-width: 60px;
              }
              .recommend{
                min-width: 60px;
              }
              .alarm{
                min-width: 100px;
              }      
        }
      }
  }
  