.code_detail {
  width: 100%;
  padding: 2% 8%;

  span {
    font-size: 1rem;
    color: hsla(0, 0%, 100%, 0.7);
  }

  h3 {
    font-weight: 500;
    color: hsl(0, 0%, 90%);
  }

  .algopat {
    font-size: 3rem;
    color: gray;
    text-align: center;
    margin-top: 42vh;
  }

  .circles {
    display: flex;
    justify-content: space-evenly;
  }

  .info_box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 40px;
    min-height: 180px;

    .circle {
      position: relative;
      top: 1px;
      height: 0.8rem;
      width: 0.8rem;
      display: inline-block;
      border-radius: 100%;
      margin-right: 5px;
    }

    .total_score {
      width: 320px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .score_board {
        display: flex;
        justify-content: space-around;
        gap: 30px;

        p {
          margin: 10px 2px;
          opacity: 0.8;
        }
      }
    }

    .right_box {
      width: 30%;
      height: 80%;
      flex-direction: column;
      gap: 20px;
      display: flex;
      flex-wrap: wrap;

      .result_box {
        background-color: #2d3956;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
      }

      .problem_box {
        background-color: #2d3956;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .problem_tag {
          margin-top: 10px;
          display: flex;
          flex-wrap: wrap;
          gap: 15px;
          .item {
            font-size: 1rem;
            border-radius: 5px;
            padding-left: 5px;
            padding-right: 5px;
            border-bottom: 1px solid gray;
          }
        }
      }

      .problem_list {
        height: 20px;
        display: flex;
        gap: 10px;
        align-items: center;
        margin-left: 2px;

        img {
          height: 100%;
          margin-top: 3px;
        }
      }

      // .circle {
      //   position: relative;
      //   top: 1px;
      //   height: 0.8rem;
      //   width: 0.8rem;
      //   display: inline-block;
      //   border-radius: 100%;
      //   margin-right: 5px;
      // }

      h3 {
        margin: 10px 2px;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .code_detail {
    .circles {
      h3 {
        font-size: 0.7rem;
      }
    }
    .info_box {
      h2 {
        font-size: 1.2rem;
      }
      .right_box {
        .circle {
          height: 0.5rem;
          width: 0.5rem;
        }
        span {
          // font-size: 0.65rem;
        }
        h3 {
          font-size: 0.7rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .code_detail {
    width: 100%;
    padding: 13% 4% 2%;

    .algopat {
      font-size: 2.4rem;
      color: gray;
      text-align: center;
    }

    .circles {
      display: flex;
      justify-content: space-evenly;

      h3 {
        font-size: 0.6rem;
      }
    }

    .info_box {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      margin-top: 40px;
      min-height: 180px;

      h2 {
        font-size: 1.5rem;
      }

      .right_box {
        width: 100%;
        border-radius: 10px;
        padding: 0px 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .circle {
          position: relative;
          top: 1px;
          height: 0.4rem;
          width: 0.4rem;
          display: inline-block;
          border-radius: 100%;
          margin-right: 5px;
        }

        span {
          // font-size: 0.5rem;
        }

        h3 {
          margin: 10px 2px;
          font-size: 1rem;
        }
      }
    }
  }
}
