.code_detail {
  width: 100%;
  padding: 2% 8%;

  .algopat {
    font-size: 3rem;
    color: gray;
    text-align: center;
    margin-top: 42vh;
  }
}

@media screen and (max-width: 768px) {
  .code_detail {
    width: 100%;
    padding: 13% 8% 2%;
  }
}
