.scroll_to_top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgba(146, 146, 146, 0.5);
  color: var(--font-color);
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    color: rgb(51, 51, 51);
    background-color: rgb(190, 190, 190, 0.8);
  }
}
