:root {
  --font-color: #ffffff;
  --fade-font-color: rgb(161, 161, 161);
  --background-color: black;
  --mypage-background-color: #28292c;
  --mypage-nav-color: #28292c;
  --box-color: #ffffff;
  --mypage-box-color: rgb(236, 236, 236, 0.3);
  --code-background-color: #242f3c;
  --mypage-font-color: #ececec;
  --max-width: 1300px;
  --modal-background: red;
}

div,
button {
  color: var(--font-color);
}

@keyframes top_down_effect {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes down_top_effect {
  0% {
    opacity: 0;
    transform: translateY(600px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes left_right_effect {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes right_left_effect {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
