:root {
  --font-color: #ffffff;
  --fade-font-color: rgb(161, 161, 161);
  --background-color: black;
  --mypage-backgroud-color: #28292c;
  --code-background-color: #242f3c;
}

div,
button {
  color: var(--font-color);
}
