.memo_container {
  background-color: #1d2538;
  height: auto;
  width: 80%;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  .problem_item {
    margin-top: 20px;
    margin-left: 20px;
  }
}
