.memo_container {
  background-color: rgb(38, 29, 61);
  height: auto;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  margin-top: 0px;
  .problem_item {
    margin-top: 20px;
    margin-left: 20px;
  }
}
