.grid {
  height: 210px;
  width: 100%;
  background-color: #1d2538;
  display: flex;
  position: relative;
  .days {
    display: flex;
    flex-direction: column;
    align-items: end;
    .day {
      font-size: 10px;
      width: 11px;
      height: 11px;
      color: #898989;
      padding: 7.8px;
      text-align: right;
    }
    padding-top: 34px;
    padding-left: 20px;
    padding-right: 26px;
  }
  .grid_family {
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 22px;
    margin-right: 30px;
    .months {
      display: flex;
      .month {
        width: 9px;
        font-size: 8px;
      }
    }
    .grid_container {
      max-width: 100%;
      display: grid;
      padding-top: 10px;
      .grid_cell {
        width: 11px;
        height: 11px;
        border: 0.5px solid #242f3c;
        border-radius: 2px;
        position: relative;
        cursor: pointer;
        .cell_hover {
          display: none;
          color: black;
          font-size: 0.5rem;
          text-align: center;
          border-radius: 5px;
          z-index: 3;
        }
      }
      .grid_cell:hover {
        border: 3px solid white;
        width: 12px;
        height: 12px;
      }
      .grid_cell:hover .cell_hover {
        position: absolute;
        top: 14px;
        left: -62px;
        width: 130px;
        height: 25px;
        padding-top: 6px;
        background-color: white;
        display: block;
        z-index: 3;
      }
    }
  }
  .gridColor_container {
    position: absolute;
    bottom: 30px;
    right: 0px;
    display: flex;
    float: right;
    .gridColor_zero {
      display: flex;
      align-items: center;
      margin-right: 20px;
      .item_zero {
        height: 15px;
        width: 15px;
        border: 1px solid;
        border-radius: 2px;
        background-color: #ececec;
        margin-right: 5px;
      }
      .text_zero {
        font-size: 0.8rem;
        background-color: transparent;
      }
    }
    .gridColor_one {
      display: flex;
      align-items: center;
      margin-right: 20px;
      .item_one {
        height: 15px;
        width: 15px;
        border: 1px solid;
        border-radius: 2px;
        background-color: #a8e4aa;
        margin-right: 5px;
      }
      .text_one {
        font-size: 0.8rem;
      }
    }
    .gridColor_two {
      display: flex;
      align-items: center;
      margin-right: 20px;
      .item_two {
        height: 15px;
        width: 15px;
        border: 1px solid;
        border-radius: 2px;
        background-color: #82cb92;
        margin-right: 5px;
      }
      .text_two {
        font-size: 0.8rem;
      }
    }
    .gridColor_three {
      display: flex;
      align-items: center;
      margin-right: 20px;
      .item_three {
        height: 15px;
        width: 15px;
        border: 1px solid;
        border-radius: 2px;
        background-color: #5cb17a;
        margin-right: 5px;
      }
      .text_three {
        font-size: 0.8rem;
      }
    }
    .gridColor_four {
      display: flex;
      align-items: center;
      margin-right: 20px;
      .item_four {
        height: 15px;
        width: 15px;
        border: 1px solid;
        border-radius: 2px;
        background-color: #23794f;
        margin-right: 5px;
      }
      .text_four {
        font-size: 0.8rem;
      }
    }
  }
}
.memo {
  margin-top: 30px;
  width: 100%;
  p {
    font-size: 1rem;
  }
}
.description {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .grid {
    .gridColor_container {
      .gridColor_zero {
        display: none;
      }
    }
    .days {
      padding-right: 16px;
    }
  }
}
