.submission_list {
  padding-left: 18%;
  padding-right: 8%;
  height: 2rem;
  padding-top: 4%;
  color: gray;
  width: 100%;
  border-top: 1px solid white;
  cursor: pointer;
  &:hover .trash_icon {
    visibility: visible;
  }

  .trash_icon {
    float: right;
    visibility: hidden;
    cursor: pointer;

    &:hover {
      visibility: visible;
    }
  }
}
