.detail_list {
  overflow: hidden;
  transition: 0.2s;
  // background-color: red;
  // height: 100%;
  height: auto;
  .submission_list {
    margin-left: 50px;
    margin-bottom: 6px;
    padding-left: 10px;
    height: 1.8rem;
    padding-top: 6px;
    color: gray;
    width: 100%;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      color: rgb(192, 192, 192);
    }
  }
}
