.description{
    color: var(--font-color);
    padding-top: 5px;
    height: 40px;
    margin: 0 5%;
    display: flex;
    align-items: center;
    position: relative;
    div{
        position: absolute;
    }
    .selectBox{
        right:150px;
        width:60px;
    }
    .buttonContainer{
        right:20px;
        .deleteButton{
            color: black;
            text-align: center;
            height: 36px;
            width:60px;
            border-radius: 5px;
        }    
    }
}
.context{      
    border-top: 1px solid var(--mypage-box-color);
    border-bottom: 1px solid var(--mypage-box-color);
    margin: 0px auto;
    margin-top: 5px;
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    div{
        position: absolute;
    }
    .title{
        right: 70%;
    }
    .date{
        right: 200px;
    }
    .views{
        right: 20px;
    }
}
.maintxt{
    border-bottom: 1px solid var(--mypage-box-color);
    margin: 0px auto;
    width: 90%;
    height: 120px;
    position: relative;
    div{
        position: absolute;
        top: 20px;
    }
    .title{
        right: 80%;
    }
    .date{
        right: 170px;
    }
    .views{
        right: 30px;
    }
}
